@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;

/* mapbox styled directly through the use of classes they defined, style={{}}, tailwind styling doesnt work on them */
.mapboxgl-popup-close-button{
  color: black;
  padding-left: 5px;
  padding-right: 5px;
}
 .mapboxgl-ctrl-attrib{
  display: none
 }

@layer base {
    html {
      @apply text-white;
    } 
}


@tailwind components;
@tailwind utilities;

